.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-style: normal;
  font-weight: normal;
  color: #2f80ed;
  z-index: 1;
  text-decoration: none;
  transition: 0.2s;
}

.feynman__link:hover {
  opacity: 0.6;
  transition: 0.2s;
}
