.section-title {
  width: 60%;
  margin: 0 auto;
  /* font-family: "Inter", "Arial", sans-serif; */
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  font-style: normal;
  /* border: solid 1px red; */
}

/* .section-title_theme_dark {
  color: white;
} */