.footer__columns {
  width: 90%;
  height: 100%;
  /* margin: 0 auto 0; */
  margin: auto;
  display: flex;
  /* display: inline-block; */
  justify-content: space-between;
  /* align-items: stretch; */
}
