.khan__buy-link {
  margin-bottom: auto;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  font-style: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: 0.2s;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition: 0.2s;
}
